{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
 {% for blog in blogs %}
        <div class="card text-bg-dark" style="width: 75%">
            <div class="card-body">
                <a href="{% url 'myapp:blog_detail' blog.slug %}"  style="text-decoration: none;"><h5 style="color:#18bc9c; font-size:25px;" class="card-title">{{ blog.title }}</h5></a>
                <p class="card-text"><a style="text-decoration: none; font-size:20px; color: blue"><i class="fa-solid fa-star"></i>{{ blog.category.name }} | </a>
                &nbsp;<small style="font-size:16px;" class=" text-light-emphasis">Author: {{ blog.author.username }}  Date: {{ blog.created|date:'d-m-y/H:i' }} | {{ blog.view }}</small></p>
                <img style="height: 400px" src="{{ blog.image_url }}" class="card-img-bottom" alt="...">
                <p style="color:#fff; font-size:18px;" class="card-text">{{ blog.text|truncatewords:50|safe }}</p>
                <p class="card-text">
                    {% for tag in blog.tags.all %}
                        <a href="{% url 'myapp:tag_blog' tag.slug %}" class="text-warning">{{ tag.name }}</a> |
                    {% endfor %}

                </p>
            </div>
        </div>
    <p></p>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if blogs.has_previous %}
            <li class="page-item "><a class="page-link text-bg-dark" href="?page={{ blogs.previous_page_number }}">Back</a></li>
        {% endif %}

        {% for i in nums  %}
            <li class="page-item "><a class="page-link text-bg-dark" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}

        {% if blogs.has_next %}
            <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ blogs.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}
